<% flash.each do |type, message| %>

<div class="flash flash-<%= type %>" data-controller="flash">
  <div><%= message %></div>
  <button id="flashCloseBtn" data-action="click->flash#close">X</button>
</div>

<% end %>