<h1><%= @resume.title %> 履歷</h1>
<%= link_to "修改", edit_resume_path(@resume) %>

<%#= image_tag @resume.mugshot %>

<%= image_tag @resume.mugshot.variant(resize_to_limit: [200, 200]) if @resume.mugshot.attached?%>

<%#= link_to "點我下載zip檔", @resume.mugshot if @resume.mugshot.attached? %>

<%= markdown(@resume.content) %>

<%#= render "ad", ad_text: "我是show頁面的廣告" %>